// =========
// Icon font
// =========
$fontawesome: "../font/fontawesome-webfont."; //"http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont.";
@font-face {
  font-family: "FontAwesome";
  src: url("#{$fontawesome}eot?v=4.7.0");
  src: url("#{$fontawesome}eot?#iefix&v=4.7.0") format("embedded-opentype"), url("#{$fontawesome}woff2?v=4.7.0") format("woff2"), url("#{$fontawesome}.woff?v=4.7.0") format("woff"), url("#{$fontawesome}ttf?v=4.7.0") format("truetype"), url("#{$fontawesome}svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

// ==========================
// Abstract, extended classes
// ==========================

// Icon font element
.icon {
  font: normal normal normal 1.5rem/1 FontAwesome;
  text-decoration: none;
}

// Skewed polygon shapes
.wedge {
  border-radius: 8px;
  border-style: inset;
  border-width: 3px;
  margin: 0;
  padding: 0.5rem;
  position: relative;
  transform: skew(-10deg);
}

// Animate in (grow from the left)
$transition-time: 0.4s;
.slideHidden {
  display: block;
  position: absolute;
  left: 90%;
  top: 0;
  transform: skew(-10deg) scaleX(0);
  transform-origin: left bottom;
  transition: all $transition-time ease;
  z-index: 1;
}
.slideIn {
  display: inline-block;
  transform: skew(-10deg) scaleX(1);
}

// ==============================
// Generic show/hide by attribute
// ==============================
*[data-show=""] {
  display: none !important;
}
*[data-hide] {
  display: none !important;
}
*[data-hide=""] {
  display: unset !important;
}
*[data-show-icon=""]:before {
  display: none !important;
}

// ============
// Basic styles
// ============
html {
  font-family: Roboto, Arial, sans-serif;
}

body > section {
  margin-top: 1rem;
}

a {
  color: lightskyblue;
}
a:visited {
  color: lightsteelblue;
}

// =====================
// Generic icon elements
// =====================
a:before {
  @extend .icon;
  margin-right: 0.25rem;
}
a[href^="mailto:"]:before {
  content: "\f003";
}
a[href^="tel:"]:before {
  content: "\f095";
}

address {
  margin-bottom: 0.5rem;

  &:before {
    @extend .icon;
    content: "\f2bc";
  }
}

.dates {
  &:before {
    @extend .icon;
    content: "\f073";
  }
  .short-month, .short-year {
    display: none;
  }
}

// ===========
// Top section
// ===========
.me {
  display: table;
  width: 100%;

  & > * {
    display: table-cell;

    &:first-child {
      width: 70%;
    }
    &:last-child {
      text-align: right;
      width: 30%;
    }
  }
}

.contact {
  a {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.overview {
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

// =============
// Skills styles
// =============
.skills {
  max-width: 75%; // leave room for slide ins

  .legend {
    display: table;
    position: relative;

    & > * {
      display: table-cell;
    }
    h2, .skills {
      margin: 0;
      padding-right: 1rem;
    }
    .skills {
      zoom: 0.75;
    }
  }
}

.skillList {
  .widget {
    display: inline-block;
    position: relative;

    &:before {
      @extend .icon;
      content: "\f161";
    }
    .popup {
      background-color: white;
      border-color: black;
      white-space: nowrap;

      @extend .wedge;
      @extend .slideHidden;

      top: -1rem;

      & > * {
        transform: skew(10deg);
      }
    }
    &:hover, &:active {
      .popup {
        @extend .slideIn;
      }
    }
  }
}

.skill {
  color: black;
  display: inline-block;
  margin: 0.25rem 0.25rem 0 0;
  position: relative;

  &.hidden {
    display: none;
  }
}
.term, .details {
  border-color: grey;
  @extend .wedge;
}
.term {
  border-color: whitesmoke;
  background: darkgrey;
  display: inline-block;
  transition: all $transition-time;

  &.expert {
    background-color: gold;
  }
  &.experienced {
    background-color: silver;
  }
  &.familiar {
    background-color: #cd7f32;
  }
  a {
    color: black;
  }
  a:visited {
    color: black;
  }
}
.details {
  background: lightgray;

  @extend .slideHidden;

  .fullName {
    font-weight: bold;
    white-space: nowrap;
  }
  .description {
    width: 25vw;
  }
}
.skill:hover, .skill:active {
  .term {
    //border-color: grey;
    &.expert {
      background-color: #a38d1c;
    }
    &.experienced {
      background-color: grey;
    }
    &.familiar {
      background-color: #a06327;
    }
  }
  .details {
    @extend .slideIn;
  }
}

// ==================
// Experience section
// ==================
.company-overview {
  display: table;
  width: 100%;

  & > * {
    display: table-cell;
  }
  &:last-child {
    text-align: right;
  }
}

.experience {
  border: 1px solid gray;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;

  header {
    border-collapse: collapse;
    display: table;
    margin-bottom: 1rem;
    width: 100%;

    & > * {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      width: 99%;
    }
    .logo {
      max-height: 3rem;
      padding-right: 1rem;
      width: 3rem;
    }
    .logo[src=""] {
      display: none;
    }
    address {
      text-align: right;
    }
  }
  .summary {
    font-style: italic;
  }
  .position {
    & > *:not(header) {
      margin-left: 2rem;
    }

    header {
      display: table;
      width: 100%;

      & > * {
        display: table-cell;
      }
      &:last-child {
        text-align: right;
      }
    }

    .dates {
      .present {
        display: none;
      }
      .present[data-end=""] {
        display: inline;
      }
    }
  }
}

// https://codepen.io/devilskitchen/pen/jkdgK
.portfolio {
  display: inline-block;
  position: relative;

  &:before {
    @extend .icon;
    content: "\f11b";
  }

  .coverflow-container {
    @extend .slideHidden;

    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    -webkit-box-reflect: below 0px linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.1) 100%);
    left: -25%;
    padding: 0 1rem;
    position: absolute;
    top: -1rem;
    z-index: 1;
  }

  &:hover, &:active {
    .coverflow-container {
      @extend .slideIn;
    }
  }

  label {
    color: #999;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    &:hover, &:active {
      color: #FFF;
    }
  }

  .coverflow-list {
    padding: 0;
    transform: perspective(900px);
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 100% 30%;

    .coverflow-item {
      display: inline-block;
      position: relative;
      transform: rotateY(45deg);
      transition: all $transition-time ease;

      &:hover {
        transform: rotateY(0deg);
      }

      .album-cover {
        display: block;
        height: 150px;
        margin: 0;

        img {
          box-shadow: 0 1px 8px rgba(0,0,0,0.9);
          height: 150px;
          max-width: 150px;
        }
      }
      .album-name {
        color: #444;
        display: block;
        text-align: center;
      }

      label {
        border: none;
        display: block;
        padding: 0;
        text-shadow: none;
      }
    }
  }

  input[type="radio"] {
    display:none;

    //  &:checked {
    //    + .coverflow-item {
    //      transform: rotateY(0deg);
    //      margin: 0 auto;
    //      background: #313131;
    //      transition: all $transition-time ease;
    //
    //      img {
    //        opacity: 1;
    //      }
    //      figcaption {
    //        color: #FFFFFF;
    //      }
    //      ~ .coverflow-item {
    //        transform: rotateY(-45deg);
    //        background: #515151;
    //      }
    //    }
    //  }
  }
}

// HACK: not sure why this particular one doesn't lay out properly
.Floodgate {
  .coverflow-list {
    left: 4.5rem;
    position: relative;
  }
}


//@keyframes cover-forward {
//  0% { transform: rotateY( 45deg ); }
//  50% { transform: rotateY( 0deg ) translate3d( 60px,0,0 ) scale3d(1.2,1.2,1.2); z-index:999; }
//  100% { transform: rotateY( 45deg ) translate3d( 0,0,0 ) scale3d(1,1,1); }
//}
//
//@keyframes cover-return {
//  0% { transform: rotateY( 45deg ); }
//  100% { transform: rotateY( 0deg ) translate3d( 150px,0,0 ) scale3d(1.2,1.2,1.2); }
//}

// ==============================
// Responsive design styles
// ==============================
@media screen and (max-width: 835px) {
  .me {
    display: block;
    width: 100%;

    .overview {
      display: block;
    }
    & > * {
      display: block;
      width: 100%;

      address > * {
        display: inline;
      }

      &:first-child {
        width: 100%;
      }
      &:last-child {
        text-align: left;
        width: 100%;
      }
    }
  }

  address {
    & > * {
      display: none;
    }
  }
  .dates {
    .month, .year {
      display: none;
    }
    .short-month, .short-year {
      display: inline;
    }
  }
}

@media screen and (max-width: 700px) {
  .dates {
    & > * {
      display: none;
    }
  }
  .present {
    display: none !important;
  }
}

@media print {
  .skillList {
    .widget {
      &:before {
        content: "";
      }
    }
  }
}
