// ===========
// Top section
// ===========
.me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & > * {
    &:first-child {
      flex-basis: 70%;
    }
    &:last-child {
      text-align: right;
      flex-basis: 30%;
    }
  }
}

.actions,
.contact {
  a {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.overview {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.online {
  display: none;
}

@mixin stacking-contact {
  .me {
    display: block;
    width: 100%;

    & > * {
      display: block;
      &:first-child {
        width: 100%;
      }
      &:last-child {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
      }
    }

    address,
    .contact a,
    .actions a {
      display: inline;
    }

    .contact,
    .actions {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
    }

    .contact {
      width: 66%;
    }

    .actions {
      width: 100%;
    }
  }
}

@media screen and (max-device-width: 900px) {
  @include stacking-contact;
}

@media print {
  a {
    text-decoration: none;
  }
  .actions,
  .skills-prompt,
  .src {
    display: none !important;
  }
  .online {
    display: block;
    text-align: center;
  }

  @include stacking-contact;
}
