// ===========
// Top section
// ===========
.me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & > * {
    &:first-child {
      flex-basis: 70%;
    }
    &:last-child {
      text-align: right;
      flex-basis: 30%;
    }
  }
}

.contact {
  a {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.overview {
  font-style: italic;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

@mixin stacking-contact {
  .me {
    display: block;
    width: 100%;

    & > * {
      display: block;
      &:first-child {
        width: 100%;
      }
      &:last-child {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
      }
    }

    address, .contact a {
      display: inline;
    }

    .contact {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      width: 66%;
    }

    .print {
      width: 100%;
    }
  }
}

@media screen and (max-device-width: 900px) {
  @include stacking-contact;
}

@media print {
  a {
    text-decoration: none;
  }
  .print, .skills-prompt, .src {
    display: none !important;
  }

  @include stacking-contact;
}
