$fontawesome: "../font//fontawesome-webfont."; // "http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont.";
$fontawesomeVersion: ""; // "?v=4.7.0";
$fontawesomeIEFix: ""; // "?#iefix&v=4.7.0"
$fontawesomeRegular: ""; // "#fontawesomeregular"
$transition-time: 0.4s;
$quarterCircleRadius: 7rem;

