html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 400px;
  margin: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.play .btn {
  display: none;
}

.container {
  position: absolute;
  bottom: 0; top: 0; left: 0; right: 0;
  text-align: center;
}

.center {
  margin: 0 auto;
}

.btn {
  margin: 8px 4px;
  width: 172px;
  height: 28px;
}

.line {
  height: 2em;
}

#words {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#words .direction, #words ol {
  margin: 0 auto;
}

#words ol {
  text-align: left;
}

.word, .clue {
  display: inline-block;
  height: 1.5em;
  padding: 0 5px;
}

.word {
  text-align: right;
  width: 100px;
}

.clue {
  width: 500px;
}

.crossword {
  color: white;
  display: block;
  background-color: rgb(32,32,32);
  margin-bottom: 8px;
}

.crossword * {
  color: black;
}

.square {
  margin: 0 1px 1px 0;
  display: inline-block;
  font: 24px Calibri;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  vertical-align: middle;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.letter {
  background-color: rgb(255,255,255);
  position: relative;

  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.across:before, .down:after {
  content: 'X';
  font-size: x-small;
  line-height: 1em;
  position: absolute;
  top: 0;
}

.across:before {
  color: green;
  left: 0;
}

.down:after {
  color: red;
  right: 0;
}

.across-1:before { content: '1'; }
.across-2:before { content: '2'; }
.across-3:before { content: '3'; }
.across-4:before { content: '4'; }
.across-5:before { content: '5'; }
.across-6:before { content: '6'; }
.across-7:before { content: '7'; }
.across-8:before { content: '8'; }
.across-9:before { content: '9'; }
.across-10:before { content: '10'; }

.down-1:after { content: '1'; }
.down-2:after { content: '2'; }
.down-3:after { content: '3'; }
.down-4:after { content: '4'; }
.down-5:after { content: '5'; }
.down-6:after { content: '6'; }
.down-7:after { content: '7'; }
.down-8:after { content: '8'; }
.down-9:after { content: '9'; }
.down-10:after { content: '10'; }

.char:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255,32,32,1);
  -moz-box-shadow: 0 0 0 2px rgba(255,32,32,1);
  box-shadow: inset 0 0 0 2px rgba(255,32,32,1);
}

.char {
  font-size: 24px;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 0;
  margin: -1px 0 0 -1px;
  width: 1.35em;
  height: 1.35em;
  text-align: center;
  background: none;
}

.hide {
  display: none;
  visibility: hidden;
}

.clueReadOnly {
  border: 0;
  outline: 0;
  color:#303030 !important;
  background:none;
}
