@font-face {
  font-family: "FontAwesome";
  src: url("http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont..woff?v=4.7.0") format("woff"), url("http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("http://fontawesome.io/assets/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: Roboto, Arial, sans-serif; }

body > section {
  margin-top: 1rem; }

a {
  color: lightskyblue; }

a:visited {
  color: lightsteelblue; }

a:before {
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 0.25rem; }

a[href^="mailto:"]:before {
  content: "\f003"; }

a[href^="tel:"]:before {
  content: "\f095"; }

address:before {
  content: "\f2bc";
  font: normal normal normal 14px/1 FontAwesome; }

*[data-show=""] {
  display: none !important; }

*[data-hide=""] {
  display: inherit !important; }

*[data-show-icon=""]:before {
  display: none !important; }

.contact a {
  display: block; }

.me {
  display: table;
  width: 100%; }
  .me > * {
    display: table-cell;
    width: 50%; }
    .me > *:last-child {
      text-align: right; }

.overview {
  font-style: italic;
  font-size: 1.25rem; }

.skills {
  max-width: 75%; }
  .skills .legend {
    display: table;
    position: relative; }
    .skills .legend > * {
      display: table-cell; }
    .skills .legend h2, .skills .legend .skills {
      margin: 0;
      padding-right: 1rem; }
    .skills .legend .skills {
      zoom: 0.75; }

.wedge, .skillList .widget .popup, .term, .details {
  border-radius: 8px;
  border-style: inset;
  border-width: 3px;
  margin: 0;
  padding: 0.5rem;
  position: relative;
  transform: skew(-10deg); }

.slideHidden, .skillList .widget .popup, .details {
  display: block;
  position: absolute;
  left: 90%;
  top: 0;
  transform: skew(-10deg) scaleX(0);
  transform-origin: left bottom;
  transition: all 0.5s;
  z-index: 1; }

.slideIn, .skillList .widget:hover .popup, .skill:hover .details {
  display: inline-block;
  transform: skew(-10deg) scaleX(1); }

.skillList .widget {
  display: inline-block;
  position: relative; }
  .skillList .widget:before {
    content: "\f161";
    font: normal normal normal 14px/1 FontAwesome; }
  .skillList .widget .popup {
    background-color: white;
    border-color: black;
    white-space: nowrap;
    top: -1rem; }

.skill {
  color: black;
  display: inline-block;
  margin: 0.25rem 0.25rem 0 0;
  position: relative; }
  .skill.hidden {
    display: none; }

.term, .details {
  border-color: grey; }

.term {
  border-color: whitesmoke;
  background: darkgrey;
  display: inline-block;
  transition: all 0.5s; }
  .term.expert {
    background-color: gold; }
  .term.experienced {
    background-color: silver; }
  .term.familiar {
    background-color: #cd7f32; }
  .term a {
    color: black; }
  .term a:visited {
    color: black; }

.details {
  background: lightgray; }
  .details .fullName {
    font-weight: bold;
    white-space: nowrap; }
  .details .description {
    width: 25vw; }

.skill:hover .term.expert {
  background-color: #a38d1c; }
.skill:hover .term.experienced {
  background-color: grey; }
.skill:hover .term.familiar {
  background-color: #a06327; }

.experience {
  border: 1px solid gray;
  margin-bottom: 1rem;
  padding: 1rem; }
  .experience header {
    border-collapse: collapse;
    display: table;
    width: 100%; }
    .experience header > * {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      width: 99%; }
    .experience header .logo {
      max-height: 3rem;
      padding-right: 1rem;
      width: 3rem; }
    .experience header .logo[src=""] {
      display: none; }
    .experience header address {
      text-align: right; }
  .experience .summary {
    font-style: italic; }
  .experience .position > *:not(.name) {
    margin-left: 2rem; }
  .experience .position .dates {
    float: right; }
    .experience .position .dates .present {
      display: none; }
    .experience .position .dates .present[data-end=""] {
      display: inline; }

/*# sourceMappingURL=index.css.map */
